.header-container {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  height: 40px;
}

.search-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.berger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.berger-icon {
  width: 24px;
  height: 24px;
}


.app-container.light .berger-icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}


.app-container.dark .berger-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.mode-icon {
  width: 24px;
  height: 24px;
}

.app-container.light .mode-icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.app-container.dark .mode-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.close-icon {
  width: 24px;
  height: 24px;
}


.app-container.light .close-icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.app-container.dark .close-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #000;
  padding-left: 40px;
  padding-right: 50px;
}

.search-bar::placeholder {
  color: #999;
}

.theme-toggle-button {
  position: absolute;
  right: 10px;
  background-color: #FFD700;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}